
Fjalla_One/FjallaOne-Regular:@import
body
{
    background-color: #E7C24F;
}
div{
    max-width: 1600px;
}
#background {
    height: 725px
}
header {
    background-color: #E7C24F;
}

nav a:hover {
    background-color: #E7C24F;
    color: #A43312;

}

.home-title{
color: #A43312;
}

nav a{
    text-align: center;
    color: #A43312;
    text-decoration: none;
}

.book{
    text-align: center;
    color: #A43312;
    text-decoration: none;
}

footer a{
    text-align: center;
    color: #A43312;
    text-align: none;
}

h4{
    text-align: center;
    color: #A43312;
}

.icon{
    width: 80px;
}