
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display&display=swap');
body
{
    background-color: #E7C24F;
    font-family: Playfair Display;
    font-size: 22px;
    margin:0;
    padding:0;
    text-align: center;
}
div{
    max-width: 1600px;
}
#background {
    height: 725px
}
header {
    background-color: #E7C24F;
}

nav a:hover {
    background-color: #E7C24F;
    color: #A43312;
    text-align: center;

}

.home-title{
color: #A43312;
text-align: center;
}

nav a{
    text-align: center;
    color: #A43312;
    text-decoration: none;
}



footer a{
    text-align: center;
    color: #A43312;
    text-align: none;
}

h4{
    text-align: center;
    color: #A43312;
}

.icon{
    width: 80px;
    text-decoration: none;
    color:#A43312;
    text-align: center;
    padding: 10px;
}

.home-title {
    font-family: 'Fjalla One';
    font-size: 2em;
    margin-top: 10px;
}

image{
    text-align: center;
}

.book{
    font-family: 'Playfair Display'; font-size: 18px;
        text-decoration: none;
        color:#A43312;
        text-align: center;
        padding: 15px;
        margin-top: 50px;
        border-radius: 5px;
          
}
.join{
    font-family: 'Playfair Display'; font-size: 18px;
    text-decoration: none;
    color:#A43312;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.msg p{
    font-family: 'Fjalla One';
    font-size: .8em;
}
.msg {
    background-color: #E7C24F;
    line-height: 1.5em;
    text-decoration: none;
    color:#A43312;
    text-align: center;
    padding: 35px;
  }
  h2{
    margin:0;
  }

  nav a {
    text-decoration: none;
    color:#A43312;
    text-align: center;
    padding: 35px;
}

#Logo_link {
    text-decoration: none;
    color:#A43312;
    text-align: center;
    padding: 35px;
}

footer{
    text-decoration: none;
    color:#A43312;
    text-align: center;
    padding: 25px, 50px;
    margin-top: 200px;
}

footer .social img{
    text-decoration: none;
    color:#A43312;
    text-align: center;
    padding-top: 15px;
}
      
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #d9c2a3;

}

main section img{
    box-sizing: border-box;
}

